<div class="container">
  <form
    class="row g-3 needs-validation"
    novalidate
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <app-input-field
      [classeCss]="onError('nome')"
      id="nome"
      label="Nome: "
      placeholder="Nome"
      type="text"
      class="col-md-12"
      formControlName="nome"
      [control]="getFormControl('nome')"
    >
    </app-input-field>
    <!-- <div class="col-md-12 form-group">
      <label for="nome" class="form-label">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome"
        formControlName="nome"
        [ngClass]="onError('nome')"
        [class.is-valid]="validFeedback('nome')"
      />
      <div class="valid-feedback">Looks good!</div>
      <app-error-message [control]="getFormControl('nome')" label="nome" class="invalid-feedback">
      </app-error-message>
    </div> -->
    <app-input-field
      [classeCss]="onError('email')"
      id="email"
      label="E-mail:"
      placeholder="email@email.com"
      type="email"
      class="col-md-12"
      formControlName="email"
      [control]="getFormControl('email')"
    >
    </app-input-field>
    <!-- <div class="col-md-12 form-group">
      <label for="email" class="form-label">E-mail: </label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="nome@email.com"
        formControlName="email"
        [ngClass]="onError('email')"
        [class.is-valid]="validFeedback('email')"
      />
      <app-campo-control-erro
        [displayError]="form.get('email')?.status === 'PENDING'"
        mensagemErro="Validando e-mail"
        class="invalid-feedback"
      >
      </app-campo-control-erro>
      <app-error-message
        [control]="getFormControl('email')"
        label="email"
        class="invalid-feedback"
      >
      </app-error-message>

      <app-campo-control-erro
        [displayError]="verificaValidTouched('email')"
        mensagemErro="E-mail inválido."
        class="invalid-feedback"
      >
      </app-campo-control-erro>
      <div class="valid-feedback">Looks good!</div>
    </div> -->
    <app-input-field
      [classeCss]="onError('confirmarEmail')"
      id="confirmarEmail"
      label="Confirmar e-mail:"
      placeholder="email@email.com"
      type="email"
      class="col-md-12"
      formControlName="confirmarEmail"
      [control]="getFormControl('confirmarEmail')"
    >
    </app-input-field>
    <!-- <div class="col-md-12 form-group">
      <label for="confirmarEmail" class="form-label">Confirmar e-mail: </label>
      <input
        type="email"
        class="form-control"
        id="confirmarEmail"
        placeholder="nome@email.com"
        formControlName="confirmarEmail"
        [ngClass]="onError('confirmarEmail')"
        [class.is-valid]="validFeedback('confirmarEmail')"
      />
      <app-error-message
        [control]="getFormControl('confirmarEmail')"
        class="invalid-feedback"
      >
      </app-error-message>
      <div class="valid-feedback">Looks good!</div>
    </div> -->
    <div formGroupName="endereco">
      <div class="form-group row g-3">
        <app-input-field
          class="col-md-3"
          [classeCss]="onError('endereco.cep')"
          id="cep"
          label="CEP:"
          placeholder="00000-000"
          type="text"
          formControlName="cep"
          [control]="getFormControl('endereco.cep')"
        >
        </app-input-field>
        <!-- <div class="col-md-3">
          <label for="cep" class="form-label">CEP:</label>
          <input
            type="text"
            class="form-control"
            id="cep"
            placeholder="00000-000"
            formControlName="cep"
            [ngClass]="onError('endereco.cep')"
            [class.is-valid]="validFeedback('endereco.cep')"
          />
          <div class="valid-feedback">Looks good!</div>
          <app-error-message
            [control]="getFormControl('endereco.cep')"
            label="CEP"
            class="invalid-feedback"
          >
          </app-error-message>
        </div> -->
        <app-input-field
          class="col-md-3"
          [classeCss]="onError('endereco.numero')"
          id="numero"
          label="Número:"
          placeholder="Número"
          type="text"
          formControlName="numero"
          [control]="getFormControl('endereco.numero')"
        >
        </app-input-field>
        <!-- <div class="col-md-3">
          <label for="numero" class="form-label">Número:</label>
          <input
            type="text"
            class="form-control"
            id="numero"
            placeholder="Número"
            formControlName="numero"
            [ngClass]="onError('endereco.numero')"
            [class.is-valid]="validFeedback('endereco.numero')"
          />
          <div class="valid-feedback">Looks good!</div>
          <app-error-message
            [control]="getFormControl('endereco.numero')"
            label="número"
            class="invalid-feedback"
          >
          </app-error-message>
        </div> -->
        <app-input-field
          class="col-md-6"
          [classeCss]="onError('endereco.complemento')"
          id="complemento"
          label="Complemento:"
          placeholder="ex.: Casa A, Quadra X, etc."
          type="text"
          formControlName="complemento"
          [control]="getFormControl('endereco.complemento')"
        >
        </app-input-field>
        <!-- <div class="col-md-6">
          <label for="complemento" class="form-label">Complemento:</label>
          <input
            type="text"
            class="form-control"
            id="complemento"
            placeholder="ex.: Casa A, Quadra X, etc."
            formControlName="complemento"
          />
        </div> -->
      </div>
      <app-input-field
        class="col-md-12"
        [classeCss]="onError('endereco.rua')"
        id="rua"
        label="Rua:"
        placeholder="R. das Araucárias."
        type="text"
        formControlName="rua"
        [control]="getFormControl('endereco.rua')"
      >
      </app-input-field>
      <!-- <div class="col-md-12">
          <label for="rua" class="form-label">Rua:</label>
          <input
            type="text"
            class="form-control"
            id="rua"
            placeholder="R. das Araucárias"
            formControlName="rua"
            [ngClass]="onError('endereco.rua')"
            [class.is-valid]="validFeedback('endereco.rua')"
          />
          <div class="valid-feedback">Looks good!</div>
          <app-error-message
            [control]="getFormControl('endereco.rua')"
            label="rua"
            class="invalid-feedback"
          >
          </app-error-message>
        </div> -->
      <div class="form-group row g-3">
        <app-input-field
          class="col-md-5"
          [classeCss]="onError('endereco.bairro')"
          id="bairro"
          label="Bairro:"
          placeholder="ex.: Mangabeira."
          type="text"
          formControlName="bairro"
          [control]="getFormControl('endereco.bairro')"
        >
        </app-input-field>
        <!-- <div class="col-md-5">
          <label for="bairro" class="form-label">Bairro:</label>
          <input
            type="text"
            class="form-control"
            id="bairro"
            placeholder="Mangabeira"
            formControlName="bairro"
            [ngClass]="onError('endereco.bairro')"
            [class.is-valid]="validFeedback('endereco.bairro')"
          />
          <div class="valid-feedback">Looks good!</div>
          <app-error-message
            [control]="getFormControl('endereco.bairro')"
            label="bairro"
            class="invalid-feedback"
          >
          </app-error-message>
        </div> -->
        <div class="col-md-4">
          <label for="cidade" class="form-label">Cidade:</label>
          <select class="form-control" id="cidade" formControlName="cidade">
            <option *ngFor="let cidade of cidades" [value]="cidade.nome">
              {{ cidade.nome }}
            </option>
          </select>
          <app-error-message
            [control]="getFormControl('endereco.cidade')"
            label="cidade"
            class="invalid-feedback"
          >
          </app-error-message>
        </div>
        <!-- <div class="col-md-4">
          <label for="cidade" class="form-label">Cidade:</label>
          <input
            type="text"
            class="form-control"
            id="cidade"
            placeholder="João Pessoa"
            formControlName="cidade"
            [ngClass]="onError('endereco.cidade')"
            [class.is-valid]="validFeedback('endereco.cidade')"
          />
          <div class="valid-feedback">Looks good!</div>
          <app-error-message
            [control]="getFormControl('endereco.cidade')"
            label="cidade"
          >
          </app-error-message>
        </div> -->
        <div class="col-md-3">
          <label for="estado" class="form-label">Estado:</label>
          <select class="form-control" id="estado" formControlName="estado">
            <option *ngFor="let estado of estados" [value]="estado.sigla">
              {{ estado.nome }}
            </option>
          </select>
          <app-error-message
            [control]="getFormControl('endereco.estado')"
            label="estado"
            class="invalid-feedback"
          >
          </app-error-message>
        </div>
      </div>
    </div>
    <div class="form-group row g-3">
      <div class="col-md-4">
        <label for="cargo" class="form-label">Cargo:</label>
        <select
          class="form-control"
          id="cargo"
          formControlName="cargo"
          [compareWith]="compararCargos"
        >
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">
            {{ cargo.desc }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="tecnologias" class="form-label">Tecnologias:</label>
        <select
          multiple
          class="form-control"
          id="tecnologias"
          formControlName="tecnologias"
        >
          <option
            *ngFor="let tecnologia of tecnologias"
            [value]="tecnologia.nome"
          >
            {{ tecnologia.desc }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <div>
          <label for="newsletter" class="form-label">Newsletter:</label>
        </div>
        <div
          id="newsletter"
          class="form-check-inline"
          *ngFor="let item of newsletterOp"
        >
          <label class="form-check-label">
            <input
              type="radio"
              formControlName="newsletter"
              [value]="item.valor"
            />
            {{ item.desc }}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row g-3">
      <div class="col-md-3">
        <div class="checkbox" [ngClass]="onError('termos')">
          <label class="checkbox-inline">
            <input type="checkbox" formControlName="termos" /> Aceito os termos.
          </label>
          <app-campo-control-erro
            [displayError]="verificaValidTouched('termos')"
            mensagemErro="Para utilizar nossos serviços, você precisa concordar com os termos de uso!"
            class="invalid-feedback"
          >
          </app-campo-control-erro>
        </div>
      </div>
      <div class="col-md-9">
        <label for="frameworks">Frameworks</label>
        <div id="frameworks" class="row">
          <div
            class="checkbox col-sm-2"
            [ngClass]="onError('frameworks')"
            formArrayName="frameworks"
            *ngFor="let item of getFormControls(); let i = index"
          >
            <label class="checkbox-inline">
              <input type="checkbox" [formControlName]="i" />
              {{ frameworks[i] }}
            </label>
          </div>
          <app-campo-control-erro
            [displayError]="verificaValidTouched('frameworks')"
            mensagemErro="Selecione pelo menos uma opção!"
            class="invalid-feedback"
          >
          </app-campo-control-erro>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-default" (click)="resetar()">Cancelar</button>
      <button class="btn btn-info" (click)="setarCargo()">Cargo</button>
      <button class="btn btn-info" (click)="setarTecnologias()">
        Tecnologia
      </button>
    </div>
    <app-form-debug [form]="form"></app-form-debug>
  </form>
</div>
